.embla {
  overflow: hidden;

}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: #252835;

}

::-webkit-scrollbar-thumb{
  width: 6px;
  background: #525870;
  border-radius: 16px;
}

*{
  box-sizing: border-box;
  margin: 0;

}

/* ::-webkit-scrollbar-button:single-button:decrement {
  background: url('path/to/up-arrow.png') no-repeat center;
  background-size: contain;
}

::-webkit-scrollbar-button:single-button:increment {
  background: url('path/to/up-arrow.png') no-repeat center;
  background-size: contain;
} */

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.grid-wrapper > div {
  display:flex;
  justify-content:center;
  align-items:center;
}

.grid-wrapper > div > img {
  width:100%;
  height:100%;
  object-fit: contain;
  border-radius: 5px;
}

.grid-wrapper {
  padding: 5px;
  display:grid;
  grid-gap:16px;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-auto-rows:300px;
  grid-auto-flow:dense;
}

.scrolling-wrapper {
  width: 100%; /* Take full width of parent container */
  height: 100vh; /* Take full height of parent container */
  overflow-y: auto; /* Enable vertical scrolling */
}

